.add-season {
  display: flex;
  flex-direction: column;
  gap: 20px;

    &__input {
      display: flex;
      height: var(--input-button-height);
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }
}