.modal {
    min-width: 480px;
    width: max-content; 

    &__options {
        display: flex;
        flex-direction: column;
        gap: 6px;
        max-height: 285px;
        overflow-y: scroll;
        padding-right: 30px;
    }

    &__add {
        display: flex;
        gap: 6px;
        margin-left: auto;
    }
}

.option {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__row {
        display: flex;
        gap: 6px;
        align-items: center;

        > :first-child {
            flex: 1;
            min-width: 0;
        }
    }
}