@import '@app/globals.css';

.primary-button {
  background-color: var(--primary-button-color);
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--input-button-height);
  cursor: pointer;

  &:disabled {
    background-color: var(--primary-button-disabled);
  }
}
