@import '@app/globals.css';


.primary-button {
  border: 2px solid var(--primary-button-color);
  background-color: var(--primary-button-color);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
  height: 35px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-button-color);
  }
}
