@import '@app/globals.css';


.secondary-button {
  border: 2px solid var(--primary-button-color);
  color: var(--primary-button-color);
  background-color: transparent;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 15px;
  height: 35px;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-button-color);
    color: white;
  }
}
