@import '@app/globals.css';
@import '@app/variables.css';

.maze-runner-code-input {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;

  &__cell {
    width: 40px;
    height: 48px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-s);
    background-color: white;

    &--error {
      border-color: var(--error-color);
    }

    &:disabled {
      background-color: #f0f0f0;
      color: #999;
    }

    &:focus-visible {
      border-color: var(--color-dark-blue);
    }
  }
}
