$colors: (
    '#A855F7', // purple
    '#0EA5E9', // sky
    '#EF4444', // red
    '#F97316', // orange
    '#F59E0B', // amber
    '#84CC16', // lime
    '#22C55E', // green
    '#10B981', // emerald
    '#14B8A6', // teal
    '#06B6D4', // cyan
    '#3B82F6', // blue
    '#6366F1', // indigo
    '#8B5CF6', // violet
    '#D946EF', // fuchsia
    '#EC4899'  // pink
);

.badge {
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 9px;
    margin-left: 20px;

    &_active {
        background-color: var(--color-dark-blue);
        color: white;
        padding: 3px 5px;
        height: 15px;
    }

    &_archived {
        background-color: var(--color-dark-blue);
        color: white;
        padding: 3px 5px;
        height: 15px;
    }
}

.group-badge {
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 10px;
    padding: 3px 5px;
    height: 18px;
    background-color: var(--color-dark-blue);
    color: white;
    cursor: pointer;

    @for $i from 1 through length($colors) {
      $color: nth($colors, $i);
      
      &:nth-child(#{$i}) {
        background-color: unquote($color);
      }
    }

    &_add {
        cursor: pointer;
        border-radius: 6px;
        color: white;
        background-color: var(--color-dark-blue);
        font-size: 14px;
        line-height: 14px;
        height: 18px;
        width: 18px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            opacity: 0.8;
        }
    }
    
    &:hover {
        opacity: 0.8;
    }
}