.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 10px;

    &--no-margin {
      font-size: 24px;
      font-weight: bold;
      color: var(--text-primary);
  }
}