@import '@app/globals.css';

.team {
    display: flex;
    align-items: center;
    gap: 10px;
}

.points-input {
    width: 70px;
    padding: 10px;
    border: 1px solid var(--primary-button-color);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.save-btn {
    position: absolute;
    right: 40;
}
