@import url('@app/globals.css');
.profile {
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    color: var(--text-primary);
    flex-shrink: 0;


    &__img {
        height: 40px;
        width: 40px;
        background-color: wheat;
        border-radius: 20px;
        overflow: hidden;
    }
}