.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;


    &__content {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;
        padding-right: 30px;
    }

    &__body {

    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .close-button {
        position: absolute;
        font-size: 20px;
        top: 0;
        right: 0;
        cursor: pointer;
    }

}