@font-face {
    font-family: 'ChironGoRoundTC';
    src: url('@/assets/fonts/ChironGoRoundTC-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
    font-display: swap; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  user-select: none;
  font-family: 'ChironGoRoundTC', sans-serif;
  color: var(--text-primary);
}

:root {
  --color-blue: #75c1ed;

  --color-turquoise: #3BC6C9;
  --color-light-green: #A8D5BA;
  --color-yellow: #FFD966;
  --color-orange: #FF9F68;
  --color-light-blue: #A4D7E1;
  --color-red: #FF4D4D;

  --color-white: #FFFFFF;
  --color-dark-blue: #2c77a9;

  --bg-primary: var(--color-blue);
  --bg-secondary: var(--color-turquoise);
  --text-primary: var(--color-dark-blue);
  --text-secondary: var(--color-white);
  --accent-yellow: var(--color-yellow);
  --accent-orange: var(--color-orange);
  --border-color: var(--color-light-green);
  --primary-button-color: var(--color-light-blue);
  --error-color: var(--color-red);
}

body {
  background-image: url('@/assets/img/bg-colored.png');
  background-size: 200px;
  color: var(--foreground);
  margin-bottom: 100px;
}

.centered-container {
  position: relative;
  padding: 20px;
  padding-top: 80px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.error-text {
  font-size: 12px;
  color: var(--error-color);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #88888850;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}