@font-face {
    font-family: 'ChironGoRoundTC';
    src: url('@/assets/fonts/ChironGoRoundTC-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; 
    font-style: normal;
    font-display: swap; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  user-select: none;
  font-family: 'ChironGoRoundTC', sans-serif;
}

:root {
  --color-blue: #75c1ed;

  --color-turquoise: #3BC6C9;
  --color-light-green: #A8D5BA;
  --color-yellow: #FFD966;
  --color-orange: #FF9F68;
  --color-light-blue: #A4D7E1;
  --color-red: #FF4D4D;
  --color-dark-red: #d73535;

  --color-white: #FFFFFF;
  --color-dark-blue: #4a90be;
  --color-dark-blue-transparent: #2c77a984;

  --bg-primary: var(--color-blue);
  --bg-secondary: var(--color-turquoise);
  --text-primary: var(--color-dark-blue);
  --text-secondary: var(--color-white);
  --accent-yellow: var(--color-yellow);
  --accent-orange: var(--color-orange);
  --border-color: var(--color-light-green);
  --primary-button-color: var(--color-dark-blue);
  --primary-button-disabled: var(--color-dark-blue-transparent);
  --error-color: var(--color-red);
}

body {
  background-image: url('/img/bg-colored.png');
  background-size: 200px;
  background-repeat: repeat;
  color: var(--foreground);
}

.error-text {
  font-size: 12px;
  color: var(--error-color);
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #88888850;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.no-margin {
  margin: 0;
}
