.modal-error {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background: rgba(0, 0, 0, 0.376);
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 1000;

    opacity: 0;
    transform: translateX(120%);
    animation: slideIn 0.3s ease forwards;

    &__text {
        color: white;
        font-size: 14px;
    }
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}