@import '@app/globals.css';

.edit-button {
  border: none;
  font-size: 14px;
  border-radius: 5px;
  height: var(--input-button-height);
  width: var(--input-button-height);
  cursor: pointer;
  margin: auto 10px;
  background-color: white;

  &:disabled {
    background-color: var(--primary-button-disabled);
  }
}
