.modal-content {
        max-width: 500px;
        min-width: 250px;
    }

    .image {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin: 0 auto;
    }

    .placeholder {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: #8dd0e1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: white;
        margin: 0 auto;
    }

    .cropArea {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        background: #f0f0f0;
        border-radius: 50%;
        overflow: hidden;
    }

    .uploadButton {
        width: 40px;
        position: absolute;
        bottom: 70px;
        height: 40px;
        border-radius: 50%;
        background: var(--text-primary);
        cursor: pointer;
        margin: 0 auto;
        display: block;
        left: 50%;
        transform: translateX(40px);
        display: flex;
        align-items: center;
        justify-content: center;
        
        // &:hover {
        //     background: #e0e0e0;
        // }
    }

    .icon {
        color: white
    }