.push-manager {
    font-size: 14px;
    border: 0;
    font-weight: inherit;
    font-family: inherit;
    padding: 15px 0;
    background-color: red;
    color: white;
    width: 96%;
    border-radius: 4px;

    &_enabled {
        background-color: var(--color-red);
    }

    &_disabled {
        background-color: var(--color-green);
    }
}

