@import '@app/globals.css';

.burger-menu {
    max-height: 450px;
    width: 100vw;
    z-index: 100;
    padding: 10px;
    padding-top: 50px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-height: 100vh;
    }
    
    &__option {
        padding: 20px 20px;
        width: 100%;
        color: var(--text-primary);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;

        &:hover {
            background-color: #8dd0e1;
        }

    }

    &--hidden {
        max-height: 0;
        width: 100vw;
        opacity: 0;
        overflow: hidden;
    }
    
}