.action-button {
        width: 20px;
        height: 20px;
        border: 0;
        background-color: transparent;
        cursor: pointer;

        &__add {
            background-image: url('/img/plus.png');
               background-size: 20px;
       }

        &__delete {
            background-image: url('/img/delete.png');
            background-size: 20px;
        }   
        
        &__titled {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            font-size: 14px;
        }
}
