@import '@app/globals.css';

.multiple-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    &__field {
        padding: 2px 8px;
        border: 1px solid #ccc;
        width: 100%;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 35px;

    }
    &__input {
        display: flex;
        align-items: center;
        gap: 5px;
        height: 100%;
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    &__search {
        height: 100%;
        width: 100%;
        border: 0;
        padding: 0 10px;

        &:focus:not(:focus-visible) {
            outline: none;
        }

        &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: #ccc !important; /* цвет как у обычного состояния */
}
    }

    &__teacher {
        padding: 5px 10px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid var(--primary-button-color);
        cursor: pointer;
    }

    &__selected {
        display: flex;
        gap:5px;
    }
}