.schedule-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 5px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(70, 130, 187, 0.383);
    border-radius: 8px;
    padding: 15px;
    position: relative;
    background-color: white;

    &__time {
        color: #f46767;
    }
    &__activity {
        color: var(--color-dark-blue);
        font-size: 16px;
        text-transform: capitalize;
    }

    &__buttons {
        position: absolute;
        display: flex;
        gap: 10px;
        right: 20px;
    }

    button {
        width: 30px;
        height: 30px;
    }
}