.season-row {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr 1fr 100px;
    border-bottom: 1px solid rgb(201, 230, 255);

    &_active {
        background-color: rgb(201, 230, 255);
    }

    &_archived {
        background-color: rgb(235, 235, 235);
    }

    &__item {
        padding: 10px 20px; 
        display: flex;
        align-items: center;

        &_header {
            padding: 10px 20px;
            background-color: var(--color-dark-blue);
            border-collapse: collapse;
            color: white;
        }
    }

    &__controls {
        display: flex;
        gap: 10px;
    }

    &__group {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}

.seasons__table {
    border-radius: 6px;
    overflow: hidden;
    font-size: 12px;
}

.add-season-btn {
    width: 150px;
    margin-left: auto;
}